In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("heart.csv")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
test_data=pd.read_csv("Heart_test.csv")
test_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
1,52,1,0,112,230,0,1,160,0,0.0,2,1,2,0
2,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
3,55,1,1,130,262,0,1,155,0,0.0,2,0,2,1
4,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
57,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
58,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
59,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1
60,66,1,0,160,228,0,0,138,0,2.3,2,0,1,1

In [4]:
train_data=pd.read_csv("Heart_train.csv")
train_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
1,53,1,2,130,246,1,0,173,0,0.0,2,3,2,1
2,61,1,3,134,234,0,1,145,0,2.6,1,2,2,0
3,45,1,1,128,308,0,0,170,0,0.0,2,0,2,1
4,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,46,1,2,150,231,0,1,147,0,3.6,1,0,2,0
238,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0
239,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
240,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0
241,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1

## Feature Extraction

In [5]:
x_train=train_data.drop(columns='target')
y_train=train_data['target']
print(x_train)
print(y_train)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     67    1   2       152   212    0        0      150      0      0.8
1     53    1   2       130   246    1        0      173      0      0.0
2     61    1   3       134   234    0        1      145      0      2.6
3     45    1   1       128   308    0        0      170      0      0.0
4     50    1   0       144   200    0        0      126      1      0.9
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
237   46    1   2       150   231    0        1      147      0      3.6
238   58    1   0       128   216    0        0      131      1      2.2
239   52    1   0       125   212    0        1      168      0      1.0
240   54    1   0       120   188    0        1      113      0      1.4
241   55    0   1       132   342    0        1      166      0      1.2

     slope  ca  thal
0        1   0     3
1        2   3     2
2        1   2     2
3        2   0     2
4        1   0     3
..     ...  ..   ...
237      1   0     2
238      1   3     3
239      2   2     3
240      1   1     3
241      2   0     2

[242 rows x 13 columns]
0      0
1      1
2      0
3      1
4      0
      ..
237    0
238    0
239    0
240    0
241    1
Name: target, Length: 242, dtype: int64

In [6]:
x_test=test_data.drop(columns='target')
y_test=test_data['target']
print(x_test)
print(y_test)

    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0    58    1   1       120   284    0        0      160      0      1.8
1    52    1   0       112   230    0        1      160      0      0.0
2    42    0   2       120   209    0        1      173      0      0.0
3    55    1   1       130   262    0        1      155      0      0.0
4    53    0   0       130   264    0        0      143      0      0.4
..  ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
56   55    0   0       128   205    0        2      130      1      2.0
57   58    1   0       114   318    0        2      140      0      4.4
58   58    1   0       125   300    0        0      171      0      0.0
59   43    1   0       115   303    0        1      181      0      1.2
60   66    1   0       160   228    0        0      138      0      2.3

    slope  ca  thal
0       1   0     2
1       2   1     2
2       1   0     2
3       2   0     2
4       1   0     2
..    ...  ..   ...
56      1   1     3
57      0   3     1
58      2   2     3
59      1   0     2
60      2   0     1

[61 rows x 13 columns]
0     0
1     0
2     1
3     1
4     1
     ..
56    0
57    0
58    0
59    1
60    1
Name: target, Length: 61, dtype: int64

# One-Hot Encoding

In [7]:
cat_columns = ['cp', 'exang', 'slope', 'thal']
num_columns = [c for c in x_train.columns if c not in cat_columns]

In [8]:
num_columns

['age',
 'sex',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'oldpeak',
 'ca']

# One-Hot Encoding 
train data

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
#create an oneHotEncoder instance
# transform on training data
encoder=OneHotEncoder(handle_unknown='ignore')
#fit on categorical column
encoder.fit(x_train[cat_columns])
#columns name
column_names=encoder.get_feature_names(input_features=cat_columns)
# transform on training data
x_train_cat_encoded=encoder.transform(x_train[cat_columns])



x_train_cat_encoded_df=pd.DataFrame(x_train_cat_encoded.todense(),
                                    columns=column_names,
                                    index=x_train.index)
x_train_cat_encoded_df

,cp_0,cp_1,cp_2,cp_3,exang_0,exang_1,slope_0,slope_1,slope_2,thal_0,thal_1,thal_2,thal_3
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
238,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
239,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
240,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
241,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

# Final training set

In [11]:

x_train_encoded=pd.concat([x_train[num_columns],x_train_cat_encoded_df],axis=1)
print(x_train_encoded)

     age  sex  trestbps  chol  fbs  restecg  thalach  oldpeak  ca  cp_0  ...  \
0     67    1       152   212    0        0      150      0.8   0   0.0  ...
1     53    1       130   246    1        0      173      0.0   3   0.0  ...
2     61    1       134   234    0        1      145      2.6   2   0.0  ...
3     45    1       128   308    0        0      170      0.0   0   0.0  ...
4     50    1       144   200    0        0      126      0.9   0   1.0  ...
..   ...  ...       ...   ...  ...      ...      ...      ...  ..   ...  ...
237   46    1       150   231    0        1      147      3.6   0   0.0  ...
238   58    1       128   216    0        0      131      2.2   3   1.0  ...
239   52    1       125   212    0        1      168      1.0   2   1.0  ...
240   54    1       120   188    0        1      113      1.4   1   1.0  ...
241   55    0       132   342    0        1      166      1.2   0   0.0  ...

     cp_3  exang_0  exang_1  slope_0  slope_1  slope_2  thal_0  thal_1  \
0     0.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0
1     0.0      1.0      0.0      0.0      0.0      1.0     0.0     0.0
2     1.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0
3     0.0      1.0      0.0      0.0      0.0      1.0     0.0     0.0
4     0.0      0.0      1.0      0.0      1.0      0.0     0.0     0.0
..    ...      ...      ...      ...      ...      ...     ...     ...
237   0.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0
238   0.0      0.0      1.0      0.0      1.0      0.0     0.0     0.0
239   0.0      1.0      0.0      0.0      0.0      1.0     0.0     0.0
240   0.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0
241   0.0      1.0      0.0      0.0      0.0      1.0     0.0     0.0

     thal_2  thal_3
0       0.0     1.0
1       1.0     0.0
2       1.0     0.0
3       1.0     0.0
4       0.0     1.0
..      ...     ...
237     1.0     0.0
238     0.0     1.0
239     0.0     1.0
240     0.0     1.0
241     1.0     0.0

[242 rows x 22 columns]

## One-Hot Encoding
test data

In [12]:

# transform on testing data
x_test_cat_encoded=encoder.transform(x_test[cat_columns])



x_test_cat_encoded_df=pd.DataFrame(x_test_cat_encoded.todense(),
                                    columns=column_names,
                                    index=x_test.index)
x_test_encoded=pd.concat([x_test[num_columns],x_test_cat_encoded_df],axis=1)
print(x_test_encoded)

    age  sex  trestbps  chol  fbs  restecg  thalach  oldpeak  ca  cp_0  ...  \
0    58    1       120   284    0        0      160      1.8   0   0.0  ...
1    52    1       112   230    0        1      160      0.0   1   1.0  ...
2    42    0       120   209    0        1      173      0.0   0   0.0  ...
3    55    1       130   262    0        1      155      0.0   0   0.0  ...
4    53    0       130   264    0        0      143      0.4   0   1.0  ...
..  ...  ...       ...   ...  ...      ...      ...      ...  ..   ...  ...
56   55    0       128   205    0        2      130      2.0   1   1.0  ...
57   58    1       114   318    0        2      140      4.4   3   1.0  ...
58   58    1       125   300    0        0      171      0.0   2   1.0  ...
59   43    1       115   303    0        1      181      1.2   0   1.0  ...
60   66    1       160   228    0        0      138      2.3   0   1.0  ...

    cp_3  exang_0  exang_1  slope_0  slope_1  slope_2  thal_0  thal_1  thal_2  \
0    0.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0     1.0
1    0.0      1.0      0.0      0.0      0.0      1.0     0.0     0.0     1.0
2    0.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0     1.0
3    0.0      1.0      0.0      0.0      0.0      1.0     0.0     0.0     1.0
4    0.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0     1.0
..   ...      ...      ...      ...      ...      ...     ...     ...     ...
56   0.0      0.0      1.0      0.0      1.0      0.0     0.0     0.0     0.0
57   0.0      1.0      0.0      1.0      0.0      0.0     0.0     1.0     0.0
58   0.0      1.0      0.0      0.0      0.0      1.0     0.0     0.0     0.0
59   0.0      1.0      0.0      0.0      1.0      0.0     0.0     0.0     1.0
60   0.0      1.0      0.0      0.0      0.0      1.0     0.0     1.0     0.0

    thal_3
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
..     ...
56     1.0
57     0.0
58     1.0
59     0.0
60     0.0

[61 rows x 22 columns]

# Decision Tree Classifier (Out-of-the-box)

Compute `classification_report` for `DecisionTreeClassifier` out-of-the-box.

In [13]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(random_state=1)
model.fit(x_train_encoded,y_train)
preds=model.predict(x_test_encoded)

# Model Evalution

In [14]:
from sklearn.metrics import classification_report

In [15]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.65      0.71      0.68        28
           1       0.73      0.67      0.70        33

    accuracy                           0.69        61
   macro avg       0.69      0.69      0.69        61
weighted avg       0.69      0.69      0.69        61

## Grid search

In [16]:
from sklearn.model_selection import GridSearchCV

In [17]:

grid_params1 = {
    'max_depth': (3, 5, 7, 9, 11, 13),
    'min_samples_split': (2, 4, 6, 8, 10)
}

In [18]:
 from sklearn.metrics import make_scorer, f1_score

In [19]:

scorer = make_scorer(f1_score, average='micro')
clf=GridSearchCV(DecisionTreeClassifier(),grid_params1,scoring=scorer,cv=3)
clf.fit(x_train_encoded, y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': (3, 5, 7, 9, 11, 13),
                         'min_samples_split': (2, 4, 6, 8, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=make_scorer(f1_score, average=micro), verbose=0)

In [20]:
print(clf.best_score_, clf.best_params_)

0.7935185185185185 {'max_depth': 5, 'min_samples_split': 2}

In [21]:

import sklearn.metrics as metrics
model =DecisionTreeClassifier(random_state=1,max_depth=5,min_samples_split=2)
model.fit(x_train_encoded, y_train)
preds = model.predict(x_test_encoded)
print(metrics.classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.70      0.68      0.69        28
           1       0.74      0.76      0.75        33

    accuracy                           0.72        61
   macro avg       0.72      0.72      0.72        61
weighted avg       0.72      0.72      0.72        61

## Random Forest Classifier

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:

from sklearn.metrics import accuracy_score
model = RandomForestClassifier(n_estimators=100,random_state=1)
# model = RandomForestClassifier(random_state=1)
model.fit(x_train_encoded,y_train)
preds=model.predict(x_test_encoded)
accuracy_score(y_test, preds)

0.819672131147541

In [24]:
from sklearn.metrics import classification_report

In [25]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.81      0.79      0.80        28
           1       0.82      0.85      0.84        33

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

## Grid Search

In [26]:
grid_param2 = {
#     'max_depth': (3, 5, 7, 9, 11, 13),
    'min_samples_split': (2, 4, 6, 8, 10),
    'n_estimators':(10,50,100),

}

In [27]:
 from sklearn.metrics import make_scorer, f1_score

In [28]:

# scorer = make_scorer(f1_score, average='micro')
# clf=GridSearchCV(RandomForestClassifier(),grid_params,scoring=scorer,cv=3)
# clf.fit(x_train_encoded, y_train)

scorer = make_scorer(f1_score, average='micro')
clf=GridSearchCV(RandomForestClassifier(),grid_param2,scoring=scorer,cv=3)
clf.fit(x_train_encoded, y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'min_samples_split': (2, 4, 6, 8, 10),
                         'n_estimators': (10, 50, 100)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=make_scorer(f1_score, average=micro), verbose=0)

In [29]:
print(clf.best_score_, clf.best_params_)

0.8347736625514403 {'min_samples_split': 10, 'n_estimators': 50}

In [30]:

import sklearn.metrics as metrics
model =RandomForestClassifier(n_estimators=5,min_samples_split=2)
model.fit(x_train_encoded, y_train)
preds = model.predict(x_test_encoded)
print(metrics.classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.76      0.79      0.77        28
           1       0.81      0.79      0.80        33

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.79      0.79      0.79        61

## AdaBoost Classifier

In [31]:
from sklearn.ensemble import AdaBoostClassifier

In [32]:

model = AdaBoostClassifier(n_estimators=100)
model.fit(x_train_encoded,y_train)
preds=model.predict(x_test_encoded)
accuracy_score(y_test, preds)

0.8032786885245902

In [33]:
from sklearn.metrics import classification_report

In [34]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.79      0.79      0.79        28
           1       0.82      0.82      0.82        33

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61

## Grid Search

In [35]:
grid_params3 = {
    'learning_rate':(0.001,0.1),
    'n_estimators':(10,50,100),

}

In [36]:
 from sklearn.metrics import make_scorer, f1_score

In [37]:
scorer = make_scorer(f1_score, average='micro')
clf=GridSearchCV(AdaBoostClassifier(),grid_params3,scoring=scorer,cv=3)
clf.fit(x_train_encoded, y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=AdaBoostClassifier(algorithm='SAMME.R',
                                          base_estimator=None,
                                          learning_rate=1.0, n_estimators=50,
                                          random_state=None),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': (0.001, 0.1),
                         'n_estimators': (10, 50, 100)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=make_scorer(f1_score, average=micro), verbose=0)

In [38]:
print(clf.best_score_, clf.best_params_)

0.8347736625514403 {'learning_rate': 0.1, 'n_estimators': 50}

## Final Model

In [39]:
model =AdaBoostClassifier(learning_rate=0.1, n_estimators=50)
model.fit(x_train_encoded, y_train)
preds = model.predict(x_test_encoded)
print(metrics.classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.80      0.86      0.83        28
           1       0.87      0.82      0.84        33

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

## GradientBoosting Classifier

In [40]:
from sklearn.ensemble import GradientBoostingClassifier

In [41]:
model = GradientBoostingClassifier(n_estimators=100)
model.fit(x_train_encoded,y_train)
preds=model.predict(x_test_encoded)
accuracy_score(y_test, preds)

0.7540983606557377

In [42]:
from sklearn.metrics import classification_report

In [43]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.71      0.79      0.75        28
           1       0.80      0.73      0.76        33

    accuracy                           0.75        61
   macro avg       0.75      0.76      0.75        61
weighted avg       0.76      0.75      0.75        61

## Grid search

In [44]:
grid_params4 = {
    'min_samples_split': (2, 4, 6, 8, 10),
    'n_estimators':(10,50,100),

}

In [45]:
 from sklearn.metrics import make_scorer, f1_score

In [46]:
scorer = make_scorer(f1_score, average='micro')
clf=GridSearchCV(GradientBoostingClassifier(),grid_params4,scoring=scorer,cv=3)
clf.fit(x_train_encoded, y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=GradientBoostingClassifier(ccp_alpha=0.0,
                                                  criterion='friedman_mse',
                                                  init=None, learning_rate=0.1,
                                                  loss='deviance', max_depth=3,
                                                  max_features=None,
                                                  max_leaf_nodes=None,
                                                  min_impurity_decrease=0.0,
                                                  min_impurity_split=None,
                                                  min_samples_leaf=1,
                                                  min_samples_split=2,
                                                  min_weight_fraction_leaf=0.0,
                                                  n_estimators=100,
                                                  n_iter_no_change=None,
                                                  presort='deprecated',
                                                  random_state=None,
                                                  subsample=1.0, tol=0.0001,
                                                  validation_fraction=0.1,
                                                  verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'min_samples_split': (2, 4, 6, 8, 10),
                         'n_estimators': (10, 50, 100)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=make_scorer(f1_score, average=micro), verbose=0)

In [47]:
print(clf.best_score_, clf.best_params_)

0.7893004115226337 {'min_samples_split': 2, 'n_estimators': 10}

In [48]:
model =GradientBoostingClassifier(min_samples_split=4, n_estimators=100)
model.fit(x_train_encoded, y_train)
preds = model.predict(x_test_encoded)
print(metrics.classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.71      0.79      0.75        28
           1       0.80      0.73      0.76        33

    accuracy                           0.75        61
   macro avg       0.75      0.76      0.75        61
weighted avg       0.76      0.75      0.75        61